* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden; /* Para evitar rolagem caso a imagem se mova durante a animação */
}

.container {
    opacity: 0.1%;
    width: 100px;  /* Ajuste o tamanho do contêiner conforme necessário */
    height: 102px; /* Ajuste o tamanho do contêiner conforme necessário */
    background-image: url(../download/escudo.jpg); /* Insira o caminho da sua imagem aqui */
    background-size: cover; /* Faz a imagem cobrir o contêiner completamente */
    background-position: center; /* Centraliza a imagem no contêiner */
    animation: piscarComPausa 0.25s infinite; /* Aplica a animação */
    
}

/* Animação para a imagem piscar */
@keyframes piscarComPausa {
    0% {
        opacity: 0.1;
    }
    1% {
        opacity: 0.1;
    }
    0.5% {
        opacity: 0.5;
    }
    5% {
        opacity: 0.3;
    }
    1% {
        opacity: 0.1;
    }
}
